---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Startseite" description="Willkommen auf der Startseite">
  <div slot="options">
    <a href="/feedback" class="button">Feedback</a>
    <a href="/user-messages" class="button">Meine Nachrichten</a>
    <a href="/antworten" class="button">Antworten</a>
    <a href="/verbesserungsvorschlaege" class="button">Verbesserungsvorschläge</a>
    <a href="/problem-melden" class="button">Problem Melden</a>
    <a href="/bewertungen" class="button">Bewertung</a>
  </div>
  <main>
    <h1>HTW Saar!</h1>
  </main>
  <style>
    .button {
      padding: 0.5rem 1rem;
      background: linear-gradient(to right, #3bdbdb, #0ab3d1);
      color: #fff;
      border: none;
      border-radius: 8px;
      text-decoration: none;
      font-size: 14px;
      transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      display: inline-block;
    }

    .button:hover {
      background: linear-gradient(to right, #8ff4fb, #97f9f8);
      transform: translateY(-2px);
    }

    .button:active {
      transform: translateY(0);
    }

    .button:focus {
      outline: 2px solid #000;
      outline-offset: 2px;
    }
  </style>
</Layout>
