---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Startseite" description="Willkommen auf der Startseite">
  <div slot="options">
    <a href="/feedback" class="button">Feedback</a>
    <a href="/user-messages" class="button">Meine Nachrichten</a>
    <a href="/antworten" class="button">Antworten</a>
    <a href="/verbesserungsvorschlaege" class="button">Verbesserungsvorschläge</a>
    <a href="/problem-melden" class="button">Problem Melden</a>
    <a href="/bewertungen" class="button">Bewertung</a>
  </div>
  <main>
    <body>
      <div class="container">
          <div class="text">
        
              <p>Willkommen auf unserer Seite für Studenten!
  
  Liebe Studentinnen und Studenten,
  
  Herzlich willkommen auf unserer Plattform, die speziell darauf ausgerichtet ist, euch während eures akademischen Weges zu unterstützen und zu begleiten. Wir freuen uns sehr, dass ihr euch entschieden habt, Teil unserer Community zu werden.</p>
          </div>
          <div class="image">
              <img src="https://www.htwsaar.de/hochschule/arbeiten-an-der-htw-saar/arbeiten-an-der-htw-saar/@@images/headerimage/fullhd" alt="HTW Saar Bild">
          </div>
      </div>
  </body>
  </main>
  <style>
.container {
    max-width: 800px;
    margin: 50px auto; /* zentriert die Box horizontal */
    display: flex;
    align-items: center; /* vertikal zentrieren */
}

.text {
    flex: 1; /* Flexibles Layout für Textbereich */
    padding: 20px;
}

.image {
    flex: 1; /* Flexibles Layout für Bildbereich */
    padding: 20px;
}

.image img {
    max-width: 100%; /* Bild wird innerhalb seines Containers responsiv angepasst */
    height: auto;
    display: block; /* Bild als Blockelement, um Abstände zu verwalten */
}

    .button {
      padding: 0.5rem 1rem;
      color: #f6f3f3;
      border: none;
      border-radius: 8px;
      text-decoration: none;
      font-size: 14px;
      transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
      display: inline-block;
    }

    .button:hover {
      background: linear-gradient(to right, #1b1e22, #43474f);
      transform: translateY(-2px);
    }

    .button:active {
      transform: translateY(0);
    }

    .button:focus {
      outline: 2px solid #000;
      outline-offset: 2px;
    }
  </style>
</Layout>
