---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Verbesserungsvorschläge">
  <main>
    <h1>Verbesserungsvorschläge</h1>
    <form id="suggestion-form">
      <label for="suggestion-message">Ihr Vorschlag:</label>
      <textarea id="suggestion-message" rows="5" placeholder="Ihr Verbesserungsvorschlag" required></textarea>
      <label for="suggestion-identity">
        <input type="checkbox" id="suggestion-identity" />
        Als Benutzer identifizieren
      </label>
      <button type="submit">Vorschlag senden</button>
    </form>
  </main>
</Layout>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const suggestionForm = document.getElementById('suggestion-form');
    const suggestionMessageInput = document.getElementById('suggestion-message');
    const suggestionIdentityCheckbox = document.getElementById('suggestion-identity');

    suggestionForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const message = suggestionMessageInput.value;
      const isIdentified = suggestionIdentityCheckbox.checked;

      let username = isIdentified ? prompt('Bitte geben Sie Ihren Benutzernamen ein:') : 'Anonym';
      if (isIdentified && !username) {
        alert('Bitte geben Sie einen Benutzernamen ein.');
        return;
      }

      let suggestionMessages = JSON.parse(localStorage.getItem('messages') || '[]');
      suggestionMessages.push({ id: Date.now(), type: 'Verbesserungsvorschlag', message, username, replies: [] });
      localStorage.setItem('messages', JSON.stringify(suggestionMessages));
      suggestionMessageInput.value = '';
      alert('Vorschlag gesendet!');
    });
  });
</script>


<style>
  main {
    margin: auto;
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    background: #e0d9d2;
    border-radius: 10px;
    color: #0f0e0e;
    text-align: center;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 28px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  textarea {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #0a0202;
    background: #e9e2e2;
    color: #110505;
  }

  button {
    padding: 0.75rem;
    background: linear-gradient(to right, rgb(46, 111, 24), rgba(168, 255, 234, 0));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
  }

  button:hover {
    background: #c05;
    transform: translateY(-2px);
  }
</style>