---
const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description} />
  <title>{title}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #222;
      color: #ddd;
      margin: 0;
      padding: 0;
    }
    
    header {
      background: #333;
      padding: 1rem;
      color: #fff;
      text-align: center;
    }

    header h1 {
      margin: 0;
      font-size: 24px;
    }

    header nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 0.5rem;
    }

    header nav a:hover {
      text-decoration: underline;
    }

    footer {
      background: #333;
      color: #fff;
      padding: 0.5rem;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    
    main {
      margin: auto;
      padding: 2rem;
      max-width: 800px;
      background: #333;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Feedback-System</h1>
    <nav>
      <a href="/startseite">Startseite</a>
  
    </nav>
  </header>
  <main>
    <slot />
  </main>
  <footer>
  </footer>
</body>
</html>
